# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Terraform crash logs
crash.log

# Sensitive files
*.pem
*.key

# Environment variables
.env
.env.*

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Maven
target/

# Node
node_modules/

# OS files
*.swp
*.tmp
